body {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);  
}


.row-container {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-input {
  border: none;
  margin: 10px;
  box-shadow: 3px 7px #caa1a1;
  border-radius: 3px;
  display: flex;
  height: 30px;
  width: 250px;
}

.form-button {
  border: none;
  margin: 10px;
  color: white;
  padding: 0 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(161, 27, 121);
  border-radius: 3px;
}

.form-button:hover {
  opacity: 0.8;
}